<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<body style="background-color: white;">
        <h1>DipakaiLagi</h1><br>
        <br><br>
        <div class="sort-filter">
            <div>

                <label for="categories">Categories:</label><br>
                <select type="text" id="categories" name="categories" ><br>
                    <option disabled selected> Choose </option>>
                    <option value="baju">Baju</option>
                    <option value="celana">Celana</option>
                    <option value="sepatu">Sepatu</option>
                    <option value="jaket">Jaket</option>
                    <option value="topi">Topi</option>
        
                </select><br><br>
            </div>
        </div>
        </div>
    
       
</head>
<body>
    
</body>
</html>