<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <label for="name">username :</label><br>
        <input type="text" id="name" name="name" ><br>
        <label for="password">paswword :</label><br>
        <input type="password" id="password" name="password" ><br>
        <label for="address">address :</label><br>
        <input type="text" id="address" name="address" ><br>
        <label for="telephone">telephone :</label><br>
        <input type="text" id="telephone" name="telephone" ><br>
        <label for="email">email :</label><br>
        <input type="text" id="email" name="email" ><br>

        <input type="submit" value="register">
      </form> 
      
</body>
</html>